body {
    background-color: aliceblue;
   
}

   
    

.container {
    margin-top: 90px;
    margin-left: 250px;
    width: 60%;
    align-items: center;
    justify-content: center;
    height: 50vh;
    display: flex;
}
.calculator {
    width: 50%;
    
    background: #3a4452;
    padding: 30px;
    text-align: center;

}
.calculator form input {
    border: auto;
    outline: 0;
    padding: auto;
    border-radius: 20px;
    background: transparent;
    font-size: 20px;
    margin: 10px;
    cursor: crosshair;
    box-shadow: -8px -8px 15px;

}